@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header__container {
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 80px;

    & .header__container--div{
        max-width: 544px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        & .header__container--div--container{
            display: flex;
            justify-content: space-between;
            max-width: 370px;
            width: 100%;
            
            & .header__container--div--container--select{
                font-family: Montserrat Alternates;
                font-size: 12px;
                font-weight: 400;
                line-height: 14.63px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                text-decoration: none;
                color: #000000;
                border: none;

                & .header__container--div--container--select--option:hover{
                    background-color: #F1F1F1;
                }
            }
            & .header__container--div--container--a{
                font-family: Montserrat Alternates;
                font-size: 12px;
                font-weight: 400;
                line-height: 14.63px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                text-decoration: none;
                color: #000000;
            }
        }
    }
    & .header__daynight--container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 185px;
        width: 100%;
        font-family: Montserrat Alternates;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &--hidden {
        display: none;
    }

    &__content {
        background: #fff;
        padding-top: 46px;
        padding-bottom: 46px;
        padding-left: 92px;
        padding-right: 92px;
        border-radius: 20px;
        text-align: center;
        position: relative;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    &__close-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

    &__text {

        &--greeting {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.52px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: black;
        }

        &--thankyou {
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24.2px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #000000;
            margin-top: 83px;
            margin-bottom: 138px;
            margin-left: 138px;
            margin-right: 138px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black;
        margin-bottom: 18px;
        margin-top: 42px;
    }

    &__input {
        width: 169px;
        height: 35px;
        top: 181px;
        left: 204px;
        padding: 10px 90px 10px 10px;
        gap: 10px;
        border-radius: 20px;
        background-color: #D7D7D7;
        border: none;
        font-family: Montserrat Alternates;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin: 0 auto;
        margin-bottom: 18px;
    }

    &__submit-btn {
        width: 105px;
        top: 234px;
        left: 236px;
        padding: 10px 20px 10px 20px;
        gap: 10px;
        border-radius: 20px;
        opacity: 0px;
        border: none;
        background-color: #000000;
        color: white;
        box-shadow: 3px 3px 0px 0px #00000040;
        margin: 0 auto;
    }
}
main {
    background-color: lightgray;

    .main__container {
        background-color: white;
        max-width: 1090px;
        margin: 0 auto;

        & .main__container--h1 {
            display: flex;
            justify-content: center;
            font-family: Montserrat Alternates;
            font-size: 24px;
            font-weight: 400;
            line-height: 29.26px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-top: 36px;
        }
        & .main__container--div1{
                margin-top: 36px;

            & .main__container--div1--h3{
                font-family: Montserrat Alternates;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                display: flex;
                justify-content: center;
                margin-bottom: 36px;
            }
            & .main__container--div1--container{
                display: flex;
                flex-direction: row;
                position: relative;
                max-width: 576px;
                margin: 0 auto;
                justify-content: space-between;
                align-items: center;
                font-family: Montserrat Alternates;
                font-size: 12px;

                & .main__container--div1--container--2{
                    display: flex;
                    font-family: Montserrat Alternates;
                    font-size: 12px;
                }
                & .main__container--div1--container--search{
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    padding-left: 10px;
                    font-family: Montserrat Alternates;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14.63px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    border: none;
                    box-shadow: 3px 3px 0px 0px #00000040;
                    background-color: #D7D7D7;
                    width: 180px
                    
                }
                & .main__container--div1--container--button{
                    background-color: #000000;
                    padding: 10px;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px;
                    box-shadow: 3px 3px 0px 0px #00000040;
                }
            }
        }
        & .main__container--div2{
            margin-top: 36px;
            
            & .main__container--div2--container--2{
                display: flex;
            }

        & .main__container--div2--h3{
            font-family: Montserrat Alternates;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.5px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            display: flex;
            justify-content: center;
            margin-bottom: 36px;
        }
        & .main__container--div2--container{
                display: flex;
                flex-direction: row;
                max-width: 576px;
                margin: 0 auto;
                justify-content: space-between;
                align-items: center;
                font-family: Montserrat Alternates;
                font-size: 12px;
            & .main__container--div2--container--search{
                border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    font-family: Montserrat Alternates;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14.63px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    border: none;
                    box-shadow: 3px 3px 0px 0px #00000040;
                    background-color: #D7D7D7;
                    width: 115px;
                    padding: 10px;
            }
            & .main__container--div2--container--button{
                background-color: #000000;
                    padding: 7.9px;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px;
                    box-shadow: 3px 3px 0px 0px #00000040;
            }
        }
    }
    & .main__container--div3{
        margin-top: 36px;

    & .main__container--div3--h3{
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        display: flex;
        justify-content: center;
        margin-bottom: 36px;
    }
    & .main__container--div3--container{
        display: flex;
        flex-direction: row;
        max-width: 629px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        font-family: Montserrat Alternates;
        font-size: 12px;
    }
    & .main__container--div3--container--search{
        width: 135px;
        height: 35px;
        top: 273px;
        left: 432px;
        gap: 0px;
        border-radius: 20px;
        padding-left: 20px;
        font-family: Montserrat Alternates;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        border: none;
        box-shadow: 3px 3px 0px 0px #00000040;
        background-color: #D7D7D7;
    }
    & .main__container--div33--container--search{
        width: 118px;
        height: 35px;
        top: 273px;
        left: 432px;
        gap: 0px;
        border-radius: 20px;
        padding-left: 20px;
        font-family: Montserrat Alternates;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        border: none;
        box-shadow: 3px 3px 0px 0px #00000040;
        background-color: #D7D7D7;
    }
    & .main__container--div3--container--div--sign--button1 {
        background-color: black;
        border: none;
        color: white;
        width: 25px;
        height: 25px;
        top: 909px;
        left: 615px;
        padding: 5px 10px 5px 10px;
        gap: 10px;
        border-radius: 20px;
        font-family: Montserrat Alternates;
        box-shadow: 3px 3px 0px 0px #00000040;
    }
    & .main__container--div3--container--div {
        max-width: 62px;
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        & .main__container--div3--container--div--sign{
            display: flex;
            justify-content: space-between;

            & .main__container--div3--container--div--sign--button {
                background-color: black;
                border: none;
                color: white;
                width: 25px;
                height: 25px;
                top: 909px;
                left: 615px;
                padding: 5px 10px 5px 10px;
                gap: 10px;
                border-radius: 20px;
                font-family: Montserrat Alternates;
                box-shadow: 3px 3px 0px 0px #00000040;
            }
        }
    }
    }
    & .main__container--div4{
        margin-top: 36px;

        & .main__container--div2--container--4{
            display: flex;
        }
        & .main__container--div4--h3{
            font-family: Montserrat Alternates;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.5px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            display: flex;
            justify-content: center;
            margin-bottom: 36px;
        }

        & .main__container--div4--container{
            display: flex;
                flex-direction: row;
                max-width: 576px;
                margin: 0 auto;
                justify-content: space-between;
                align-items: center;
                font-family: Montserrat Alternates;
                font-size: 12px;
            
            & .main__container--div4--container--search{
                border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    font-family: Montserrat Alternates;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14.63px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    border: none;
                    box-shadow: 3px 3px 0px 0px #00000040;
                    background-color: #D7D7D7;
                    width: 115px;
                    padding: 10px;

            }
            & .main__container--div4--container--button{
                background-color: #000000;
                    padding: 7.9px;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px;
                    box-shadow: 3px 3px 0px 0px #00000040;
            }
        }
        
    }
    & .main__container--div5{
        margin-top: 36px;

    & .main__container--div5--h3{
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        display: flex;
        justify-content: center;
        margin-bottom: 36px;
    }
    & .main__container--div5--container{
        display: flex;
        flex-direction: row;
        max-width: 629px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        font-family: Montserrat Alternates;
        font-size: 12px;
    }
    & .main__container--div5--container--search{
        width: 135px;
        height: 35px;
        top: 273px;
        left: 432px;
        gap: 0px;
        border-radius: 20px;
        padding-left: 20px;
        font-family: Montserrat Alternates;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        border: none;
        box-shadow: 3px 3px 0px 0px #00000040;
        background-color: #D7D7D7;
    }
  
   
        }
    }
    }
         
hr {
    width: 536px;
    margin: 0 auto;
    margin-top: 36px;
}
#hr2 {
    width: 100px;
    margin-bottom: 30px;
}


footer{
    .footer__section {
        max-width: 1091px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 61px;
        align-items: center;
        margin-bottom: 59px;

        & .footer__section--2{
            max-width: 207px;
            font-family: Montserrat Alternates;
            font-size: 12px;
            font-weight: 400;
            line-height: 20.4px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            
        }
        & .footer__section--3{
            
            & .footer__section--3--container--buttons{
                width: 347px;
                display: flex;
                justify-content: space-between;
            }
            & .footer__section--3--container--buttons--button{
                width: 204px;
                height: 35px;
                top: 3379px;
                left: 919px;
                padding: 10px 80px 10px 10px;
                gap: 10px;
                border-radius: 20px;
                border: none;
                background-color: #D7D7D7;
                color: #7E7E7E;
                font-family: Montserrat Alternates;
                font-size: 12px;
                font-weight: 400;
            }
            & .footer__section--3--container--buttons--button2{
                width: 107px;
                height: 35px;
                top: 3379px;
                left: 1159px;
                padding: 10px;
                gap: 10px;
                border-radius: 20px;
                background-color: #000000;
                color: white;
                font-family: Montserrat Alternates;
                font-size: 12px;
                font-weight: 400;
                line-height: 14.63px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

            }
            & .footer__section--3--container--text{
                margin-top: 18px;
                font-family: Montserrat Alternates;
                font-size: 6px;
                font-weight: 400;
                line-height: 7.31px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
        }
    }
}
#result3 {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
@media (max-width: 800px) {
    .header__container {
        flex-direction: column;
    }
    .footer__section{
        flex-direction: column !important;

        & .footer__section--2--text {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}
@media (max-width: 600px) {
    .header__container--div {
        flex-direction: column !important;

        & .header__container--div--container {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    .main__container--div1--container{
        

        & .main__container--div1--container--search {

        }
    }
    hr {
        width: 250px !important;
    }
    #hr2 {
        width: 100px !important;
    }
}
@media (max-width: 536px) {
    .header__container{
        margin-top: 20px;
    }
    .main__container--h1{
        max-width: 250px;
        text-align: center !important;
        margin: 0 auto;
        padding-top: 36px;
    }
    .main__container--div1--container {
        flex-direction: column !important;

    }
    .main__container--div2--container {
        flex-direction: column !important;

    }

    .main__container--div3--container {
        flex-direction: column !important;

    
        & .main__container--div3--container--div {
            margin-top: 15px;
            margin-bottom: 15px;

        }
        & .main__container--div3--container--div--sign--button1 {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    .main__container--div4--container{
        flex-direction: column !important;
    }
    .main__container--div5--container{
        flex-direction: column !important;
        
        & .main__container--div5--container--search{
            margin-top: 20px;
        }
    }
    #result {
        margin-top: 20px;
    }
    #result1 {
        margin-top: 20px;
    }
    #title {
        max-width: 200px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 36px;
    }
    #title1 {
        margin-bottom: 6px;
    }
}
body.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
    
    main{
        background-color: black !important;
    }
    header, footer {
      background-color: #1e1e1e;
      color: #ffffff;
    }
    #logo{
        filter: invert(1) !important;
    }
    .header__container--div--container--a{
        color: white !important;
    }
    .header__container--div--container--select{
        background-color: #1e1e1e;
        color: white !important;
    }
    #hr2{ 
        border-top: 1px dashed #fff !important;
    }
    .main__container {
      background-color: #1e1e1e;
      color: #ffffff;
  
      input,
      button,
      textarea,
      select {
        background-color: #333333;
        color: #ffffff;
        border-color: #555555;
      }
  
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #ffffff;
      }
    }
  
    .modal {
      background-color: #222222;
      color: #ffffff;
      border-color: #555555;
    }
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    & .main__container--div6--h3{
        display: flex;
        justify-content: center;
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-top: 36px;
        margin-bottom: 36px;
    }
  }

  .choices {
    display: flex;
    gap: 10px;
  }

  .choice-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
  }

  .choice-button:hover {
    background-color: #333;
  }

  .result {
    font-size: 18px;
    font-weight: bold;
  }

  .result.win {
    color: green;
  }

  .result.lose {
    color: red;
  }

  .score {
    font-size: 18px;
    position: absolute;
    left: 775px;
    bottom: 90px;
    max-width: 111px;
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }